<p id="notice"><%= notice %></p>

<p>
  <strong>Comentario:</strong>
  <%= @comentario.comentario %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= debug(@comentario.ticket) %>
</p>

<p>
  <strong>Empleado:</strong>
  <%= debug(@comentario.empleado) %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= debug(@comentario.usuario) %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
