<%- model_class = Know -%>
<div class="page-header">
  <h1>Base de Conocimiento</h1>
</div>

<dl class="dl-horizontal">
  <dt>Título</dt>
  <dd><%= @know.name %></dd>
  <dt>Und.Negocio</dt>
  <dd><%= @know.area.name %></dd>
  <dt>Categoría</dt>
  <dd><%= @know.categoria.name %></dd>
  <dt>Detalle</dt>
  <dd><%= @know.descripcion %></dd>

</dl>


<%= link_to t('.back', :default => "Regresar"),
              knows_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => "Editar"),
              edit_know_path(@know), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => "Eliminar"),
              knows_path(@know),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Esta seguro de eliminar?')) },
              :class => 'btn btn-danger' %>

