<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :asunto %><br>
    <%= f.text_field :asunto %>
  </div>
  <div class="field">
    <%= f.label :prioridad %><br>
    <%= f.number_field :prioridad %>
<<<<<<< HEAD
=======
  </div>
  <div class="field">
    <%= f.label :empresa_id %><br>
    <%= f.collection_select(:empresa_id, Empresa.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.collection_select(:usuario_id, Usuario.all, :id, :nombres) %>
  </div>
  <div class="field">
    <%= f.label :empleado_id %><br>
    <%= f.collection_select(:empleado_id, Empleado.all, :id, :nombres) %>
>>>>>>> c454b141c1cac699f14c446a1774ef2cff147afa
  </div>

  <div class="field">
    <%= f.label :categoria_id %><br>
    <%= f.collection_select(:categoria_id, Categoria.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :subcategoria_id %><br>
    <%= f.collection_select(:subcategoria_id, Subcategoria.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :area_id %><br>
    <%= f.collection_select(:area_id, Area.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
