<p id="notice"><%= notice %></p>

<div id="menu"></div>

<h1>Mis Incidencias</h1>

<table class="table table-striped">  
  <!--<thead>
    <tr>
      <th>Numero de ticket</th>
      <th>Asunto </th>
      <th>Fecha </th>
      <th>Unid. Negocio</th>
      <th>Categoria</th>
      <th>Subcategoria</th>
      <th>Tipo</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>-->
  
  <thead>
    <tr>
     <th>Ticket</th>
      <th>Asunto</th>
      <th>Fecha</th>
      <th>Unid. Negocio</th>
      <th>Categoria</th>
      <th>Subcategoria</th>
      <th>Tipo</th>
      <th>Estado</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.codigo %></td>
        <td><%= ticket.asunto %></td>
        <td><%= ticket.created_at.strftime("%d-%m-%Y") %></td>
        <td><%= ticket.area %></td>
        <td><%= ticket.categoria %></td>
        <td><%= ticket.subcategoria %></td>
        <td><%= ticket.tipo %></td>
        <td><%= ticket.estado %></td>
        <td>
          <%= link_to t('.edit', :default => 'Editar'),
                      edit_ticket_path(ticket), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => 'Eliminar'),
                      ticket_path(ticket),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Estás seguro?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Ticket', new_ticket_path %>

<%= link_to "Nuevo Ticket",
            new_ticket_path, 
            :class => 'btn btn-primary' %>
