<p id="notice"><%= notice %></p>

<div id="menu"></div>

<h1>Incidencias Abiertas</h1>

<table class="table table-striped">  
  <thead>
    <tr>
      <th>Ticket</th>
      <th>Asunto</th>
      <th>Fecha</th>
      <th>Unid. Negocio</th>
      <th>Categoría</th>
      <th>Subcategoría</th>
      <th>Tipo</th>
      <th>Estado</th>
      <th>Sel.</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.id %></td>
        <td><%= ticket.asunto %></td>
        <td><%= ticket.created_at.strftime("%d-%m-%Y") %></td>
        <td><%= ticket.area.name %></td>
        <td><%= ticket.categoria.name %></td>
        <td><%= ticket.subcategoria.name %></td>
        <td><%= ticket.tipo %></td>
        <td><%= ticket.estado %></td>
        <td><input name="cbxseleccion" type="checkbox" />Selección</td>
      </tr>
    <% end %>
  </tbody>
  
</table>

<br>

<%= link_to "Asignar", new_ticket_path, :class => 'btn btn-primary' %>
<%= link_to "Cancelar", new_ticket_path, :class => 'btn btn-primary' %>
