<p id="notice"><%= notice %></p>

<p>
  <strong>Asunto:</strong>
  <%= @ticket.asunto %>
</p>

<p>
  <strong>Prioridad:</strong>
  <%= @ticket.prioridad %>
<<<<<<< HEAD
=======
</p>

<p>
  <strong>Empresa:</strong>
  <%= @ticket.empresa %>
>>>>>>> c454b141c1cac699f14c446a1774ef2cff147afa
</p>

<p>
  <strong>Cliente:</strong>
  <%= @ticket.usuario %>
</p>

<p>
  <strong>Empleado:</strong>
  <%= @ticket.empleado %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @ticket.categoria %>
</p>

<p>
  <strong>Subcategoria:</strong>
  <%= @ticket.subcategoria %>
</p>

<p>
  <strong>Area:</strong>
  <%= @ticket.area %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
