<p id="notice"><%= notice %></p>

<p>
  <strong>Número de código:</strong>
  <%= @ticket.codigo %>
</p>

<p>
  <strong>Asunto:</strong>
  <%= @ticket.asunto %>
</p>

<p>
  <strong>Prioridad:</strong>
  <%= @ticket.prioridad %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @ticket.usuario %>
</p>

<p>
  <strong>Empleado:</strong>
  <%= @ticket.empleado.nombres %> <%= @ticket.empleado.apellidos %> 
</p>

<p>
  <strong>Categoria:</strong>
  <%= @ticket.categoria.name %>
</p>

<p>
  <strong>Subcategoria:</strong>
  <%= @ticket.subcategoria.name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @ticket.area.name %>
</p>
<%= debug(@comentarios) %>

    <% @comentarios.each do |comentario| %>
    <%= debug(comentario) %>
      <tr>
        <td><%= comentario.comentario %></td>
        <td></td>
        <td></td>
        
      </tr>
    <% end %>
    
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>

