<%= simple_form_for @empleado, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
  <%= f.label :empresa_id, "Empresa" %>
  <%= f.collection_select :empresa_id, Empresa.all, :id, :name , {prompt: "Seleccione Empresa"}, {class: "form-control"} %>
  <%= error_span(@empleado[:empresa_id]) %>
  <%= f.label :area_id, "Area" %>
  <%= f.collection_select :area_id, Area.all, :id, :name , {prompt: "Seleccione Area"}, {class: "form-control"} %>
  <%= error_span(@empleado[:area_id]) %>

  </div>
  <%= f.input :nombres, :label => "Nombres" %>
  <%= error_span(@empleado[:nombres]) %>
  <%= f.input :apellidos, :label => "Apellidos" %>
  <%= error_span(@empleado[:apellidos]) %>
  <%= f.input :codigo, :label => "Código" %>
  <%= error_span(@empleado[:codigo]) %>

  <%= f.submit 'Grabar', :class => 'btn btn-sm btn-primary' %>
  <%= link_to t('.cancel', :default => "Cancelar"),
                categorias_path, :class => 'btn btn-default' %>
<% end %>
