<%= simple_form_for @empleado, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
  <%= f.input :username, :label => "User" %>
  <%= error_span(@empleado[:username]) %>
  <%= f.input :apellidos, :label => "Apellidos" %>
  <%= error_span(@empleado[:apellidos]) %>
  <%= f.input :nombres, :label => "Nombres" %>
  <%= error_span(@empleado[:nombres]) %>
  
  <div class="form-group"> 
  <%= f.label :area_id, "Und. Negocio" %>
  <%= f.collection_select :area_id, Area.all, :id, :name , {prompt: "Seleccione Unidad de Negocio"}, {class: "form-control"} %>
  <%= error_span(@empleado[:area_id]) %>
  </div>
  
  <div class="form-group"> 
  <%= f.label :role_id, "Role" %>
  <%= f.collection_select :role_id, Role.all, :id, :name , {prompt: "Seleccione Role"}, {class: "form-control"} %>
  <%= error_span(@empleado[:role_id]) %>
  </div>
  
  <%= f.input :email, :label => "E-mail" %>
  <%= error_span(@empleado[:email]) %>

  </div>

  <%= f.submit 'Grabar', :class => 'btn btn-sm btn-primary' %>
  <%= link_to t('.cancel', :default => "Cancelar"),
                empleados_path, :class => 'btn btn-default' %>
<% end %>
