<%= simple_form_for @categoria, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
  <%= f.label :area_id %>
  <%= f.collection_select :area_id, Area.all, :id, :name , {prompt: "Seleccione Area"}, {class: "form-control"} %>
  <%= error_span(@categoria[:area_id]) %>
  </div>
  <%= f.input :name, :label => "Categoria" %>
  <%= error_span(@categoria[:name]) %>

  <%= f.submit 'Grabar', :class => 'btn btn-sm btn-primary' %>
  <%= link_to t('.cancel', :default => "Cancelar"),
                categorias_path, :class => 'btn btn-default' %>
<% end %>
