<%= simple_form_for @categoria, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= error_span(@categoria[:name]) %>
  	
  <div class="form-group">
  <%= f.label :area_id %>
  <%= f.collection_select :area_id, Area.all, :id, :name , {prompt: "Select a Area"}, {class: "form-control"} %>
  <%= error_span(@categoria[:area_id]) %>
  </div>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                categorias_path, :class => 'btn btn-default' %>
<% end %>
