<%= notice %>
<%- model_class = Categoria -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:Categoria) %></th>
      <th><%= model_class.human_attribute_name(:Area) %></th>
      <th><%=t '.actions', :default => "Acción" %></th>
    </tr>
  </thead>

  <tbody>
    <% @categorias.each do |categoria| %>
      <tr>
        <td><%= categoria.name %></td>
        <td><%= categoria.area.name %></td>
        <td>
          <%= link_to t('.edit', :default => "Editar"),
                      edit_categoria_path(categoria), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => "Eliminar"),
                      categoria_path(categoria),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Esta seguro de eliinar el registro...?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to t('.new', :default => "Nuevo"),
            new_categoria_path,
            :class => 'btn btn-primary' %>