<%= simple_form_for @role, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
  <%= f.input :name, :label => "Nombre" %>
  <%= error_span(@role[:name]) %>

  </div>

  <%= f.submit 'Grabar', :class => 'btn btn-sm btn-primary' %>
  <%= link_to t('.cancel', :default => "Cancelar"),
                roles_path, :class => 'btn btn-default' %>
<% end %>
