<div id="menu"></menu>

<%= simple_form_for @usuario, :html => { :class => 'form-horizontal' } do |f| %>


  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :codigo, :label => "Usuario" %>
  <%= error_span(@usuario[:codigo]) %>

  <%= f.input :apellido_paterno, :label => "Apellido Paterno" %>
  <%= error_span(@usuario[:apellido_paterno]) %>

  <%= f.input :apellido_materno, :label => "Apellido Materno" %>
  <%= error_span(@usuario[:apellido_materno]) %>

  <%= f.input :primer_nombre, :label => "Primer Nombre" %>
  <%= error_span(@usuario[:primer_nombre]) %>

  <%= f.input :segundo_nombre, :label => "Segundo Nombre" %>
  <%= error_span(@usuario[:segundo_nombre]) %>

  <div class="form-group"> 
  <%= f.label :role_id, "Rol" %>
  <%= f.collection_select :role_id, Role.all, :id, :name, {prompt: "Seleccione el Rol"}, {class: "form-control"} %>
  <%= error_span(@usuario[:role_id]) %>
  </div>  

  <div class="actions">
    <%= f.submit 'Grabar', :class => 'btn btn-sm btn-primary' %>   
    <%= link_to 'Atrás', usuarios_path, :class => 'btn btn-sm btn-default' %>
  </div>

<% end %>
