<!--<p id="notice"><%= notice %></p>!-->

<%- model_class = Usuario -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<h1>Lista de Usuarios</h1>

<table class="table table-striped">
  <thead>
    <!--<tr>
      <th>Codigo</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Empresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>-->
  
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:codigo) %></th>
      <th><%= model_class.human_attribute_name(:apellido_paterno) %></th>
      <th><%= model_class.human_attribute_name(:apellido_materno) %></th>
      <th><%= model_class.human_attribute_name(:primer_nombre) %></th>
      <th><%= model_class.human_attribute_name(:segundo_nombre) %></th>
      <th><%= model_class.human_attribute_name(:cod_rol) %></th>
      <th><%= model_class.human_attribute_name(:empresa) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.codigo %></td>
        <td><%= usuario.apellido_paterno %></td>
        <td><%= usuario.apellido_materno %></td>
        <td><%= usuario.primer_nombre %></td>
        <td><%= usuario.segundo_nombre %></td>
        <td><%= usuario.cod_rol %></td>
        <td><%= usuario.empresa %></td>
        <!--<td><%#= link_to 'Mostrar', usuario %></td> 
        <td><%#= link_to 'Editar', edit_usuario_path(usuario) %></td>
        <td><%#= link_to 'Eliminar', usuario, method: :delete, data: { confirm: 'Estás seguro?' } %></td> !-->

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_usuario_path(usuario), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      usuario_path(usuario),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'Nuevo Usuario', new_usuario_path %>

<%= link_to t('.Nuevo Usuario', :default => t("helpers.links.new")),
            new_usuario_path,
            :class => 'btn btn-primary' %>
