<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @usuario.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @usuario.apellidos %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @usuario.codigo %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @usuario.empresa %>
</p>

<%#= link_to 'Editar', edit_usuario_path(@usuario) %> 
<%#= link_to 'Atrás', usuarios_path %>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%= link_to 'Editar show', edit_usuario_path(@usuario) %> </button>
  <button type="button" class="btn btn-default"><%= link_to 'Atrás', usuarios_path %></button>
</div>