<p id="notice"><%= notice %></p>

<p>
  <strong>Código:</strong>
  <%= @usuario.codigo %>
</p>

<p>
  <strong>Apellidos Paterno:</strong>
  <%= @usuario.apellido_paterno %>
</p>


<p>
  <strong>Apellidos Materno:</strong>
  <%= @usuario.apellido_materno %>
</p>

<p>
  <strong>Primer Nombre:</strong>
  <%= @usuario.primer_nombre %>
</p>

<p>
  <strong>Segundo Nombre:</strong>
  <%= @usuario.segundo_nombre %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @usuario.role.name %>
</p>


<%#= link_to 'Editar', edit_usuario_path(@usuario) %> 
<%#= link_to 'Atrás', usuarios_path %>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%= link_to 'Editar show', edit_usuario_path(@usuario) %> </button>
  <button type="button" class="btn btn-default"><%= link_to 'Atrás', usuarios_path %></button>
</div>