<p id="notice"><%= notice %></p>

<h1>Listing Subcategorias</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subcategorias.each do |subcategoria| %>
      <tr>
        <td><%= subcategoria.name %></td>
        <td><%= subcategoria.categoria %></td>
        <td><%= link_to 'Show', subcategoria %></td>
        <td><%= link_to 'Edit', edit_subcategoria_path(subcategoria) %></td>
        <td><%= link_to 'Destroy', subcategoria, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subcategoria', new_subcategoria_path %>
