<p id="notice"><%= notice %></p>

<p>
  <strong>NNombre:</strong>
  <%= @subcategoria.name %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @subcategoria.categoria.name %>
</p>

<%= link_to 'Edit', edit_subcategoria_path(@subcategoria) %> |
<%= link_to 'Back', subcategorias_path %>
