<%- model_class = Subcategoria -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Categoria</dt>
  <dd><%= @subcategoria.categoria.name %></dd>
  <dt>SubCategoria</dt>
  <dd><%= @subcategoria.name %></dd>

</dl>

<%= link_to t('.back', :default => "Regresar"),
              subcategorias_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => "Editar"),
              edit_subcategoria_path(@subcategoria), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => "Eliminar"),
              subcategorias_path(@subcategoria),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Esta seguro de eliminar?')) },
              :class => 'btn btn-danger' %>
